@font-face {
    font-family: "updock";
    src: url("./Updock-Regular.ttf") format("truetype");
}

* {
    font-size: 27px;
    font-family: "updock", sans-serif;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    background-image: url("./book-tile.jpg");
    background-repeat: repeat;
    overflow: hidden;
}

.menu-container {
    display: grid;
    grid-template-columns: 10% 1fr 10%;
}

.back-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
}

.back-btn img {
    width: 30%;
}

.back-btn img:hover {
    filter: invert(50%);
}

main.credits-container {
    display: flex;
    flex-grow: 1;
    align-items: center;
    flex-flow: column nowrap;
    padding-top: 0.8rem;
    overflow-y: auto;
}

.main-title,
.main-subtitle {
    font-size: 33px;
    text-align: center;
}

.involved {
    display: flex;
    align-items: center;
    flex-flow: column;
    margin-bottom: 0.5rem;
}

.involved .names {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    text-align: center;
}

.position {
    margin-top: 0.9rem;
    font-weight: bold;
    text-align: center;
}

@media only screen and (min-width: 1021px) {
    .years-menu {
        display: flex;
        background-image: url("./book-tile.jpg");
        background-repeat: repeat;
        justify-content: center;
    }

    .year-btn {
        padding: 0.8rem 1rem;
        background-color: #5e2129;
        border: 0px;
        color: #fafafa;
        cursor: default;
        font-family: "updock", sans-serif;
        transition: background-color 0.2s ease-in 0s;
    }

    .year-btn:hover {
        background-color: #7a2a35;
    }

    .year-btn:focus {
        background-color: #7a2a35;
        outline: none;
    }

    .year-btn:active {
        background-color: #7a2a35;
        outline: none;
    }
}

@media only screen and (max-width: 1020px) {
    .years-menu {
        display: none;
    }
}
