@font-face {
    font-family: 'GreatVibes';
    src: url('../GreatVibes.ttf');
}

:root {
    --decoration-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: sans-serif;
    background-image: linear-gradient(rgb(0,0,0,0.4), rgb(0,0,0,0.4)), url('./background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
}

.menu-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

    font-family: "GreatVibes", sans-serif;
    font-size: 46px;
}

/* Book */
.book {
    position: relative;
    width: 350px;
    height: 500px;
    transition: transform 0.5s;
}

.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;

}

.front,
.back {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
}

.front {
    z-index: 1;
    backface-visibility: hidden;
}

.book-cover {
    border: 2px solid var(--decoration-color);
    padding: 6px;
    margin: 0 auto;
    background-color: #1c1c1c;
}

.page {
    background-color: #1c1c1c;
}

.back {
    z-index: 0;
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-content {
    transform: rotateY(180deg)
}

/* Paper flip effect */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

/* Controller Buttons */
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.5s;
}

button:focus {
    outline: none;
}

button:hover i {
    color: #aaa;
}

i {
    font-size: 50px;
    color: #fafafa;
}

/* Elegant borders */
.mid-border {
    border: 6px solid var(--decoration-color);
    height: 100%;
    width: 100%;
    padding: 6px;
    margin: auto;
}

.inner-border {
    display: flex;
    justify-content: center;
    flex-direction: column;

    position: relative;
    border: 2px solid var(--decoration-color);
    height: 100%;
    width: 100%;
    margin: auto;
}

/* Decorations */
.corner-decoration {
    position: absolute;
    width: 3em;
    margin: -4px;
}

.corner-decoration.corner-left-top {
    left: 0;
    top: 0;
}

.corner-decoration.corner-right-top {
    top: 0;
    right: 0;
     -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.corner-decoration.corner-right-bottom {
    right: 0;
    bottom: 0;
     -webkit-transform: scale(-1);
    transform: scale(-1);
}

.corner-decoration.corner-left-bottom {
    left: 0;
    bottom: 0;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}


.vertical-decoration {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 11em;
}

.vertical-decoration.top {
    top: 0;

}

.vertical-decoration.bottom {
    bottom: 0;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

/* Paper stack order */
#p1 {
    z-index: 3;
}

#p2 {
    z-index: 2;
}

#p3 {
    z-index: 1;
}
